body {
	height:538px;
	width:100%;
	background: url(7b17ebdc38.png) no-repeat;
	background-size:cover;	
}

.web {
	position:relative;
	z-index:3;
	clor:black;
	padding:50px;
}
.tr {
	color:white;
	font-size:50px;
	margin-left:78px;
	margin-top:30px;
	text-shadow:2px 2px 3px blue;
}
a{
	color:white;
	font-size:60px;
	margin-left:338px;
	margin-top:80px;
	text-shadow:3px 4px 7px red;
}
.ma{
	color:white;
	font-size:44px;
	margin-left:78px;
	margin-top:10px;
	text-shadow:2px 2px 3px black;
}